Checks: 'clang-analyzer-*,bugprone-*,performance-*,readability-*,modernize-*,-bugprone-easily-swappable-parameters,-bugprone-assignment-in-if-condition,-bugprone-narrowing-conversions,-bugprone-implicit-widening-of-multiplication-result,-bugprone-branch-clone,-bugprone-string-literal-with-embedded-nul,-bugprone-macro-parentheses,-bugprone-exception-escape,-bugprone-reserved-identifier,-performance-avoid-endl,-performance-enum-size,-readability-identifier-length,-readability-named-parameter,-readability-implicit-bool-conversion,-readability-magic-numbers,-readability-else-after-return,-readability-function-cognitive-complexity,-readability-avoid-nested-conditional-operator,-readability-convert-member-functions-to-static,-readability-container-size-empty,-readability-use-anyofallof,-modernize-use-trailing-return-type,-modernize-use-auto,-modernize-return-braced-init-list,-modernize-use-nodiscard,-modernize-macro-to-enum'
WarningsAsErrors: '*'
FormatStyle: 'file'
HeaderFilterRegex: '^lib/.*\.h$'
