.cache
.vscode
*.o
*.d
*.plist
tests/test
tests/*.o
tests/*.d
tests/_test*
ppm2pwg
pwg2ppm
pdf2printable
pdf2printable_mad
hexdump
baselinify
baselinify_mad
ippclient
minimime
bsplit
ippdecode
ippdiscover
fuzz
fuzz-*
